button {
  color: rgba(255, 255, 255, 0.521);
  width: 140px;
  height: 35px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(145deg, #323232, #3c3c3c);
  box-shadow: 5px 5px 10px #303030,
    -5px -5px 10px #404040;

}